*{
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.App-header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  margin: 44px;
}

img{
  width: 100%;
}

h1{
  text-align: center;
}


.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.text {
  width: 600px;
  text-align: center;
}

.Farm{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.diff {
  margin-top: 50px;
  margin-bottom: 16px;
  font-size: 26px;
}
.card-flip{
  width: 100px;
  height: 100px;
}

.button {
  margin: 0 20px
}